@page "/"

<PageTitle>Home</PageTitle>

<h1>Some examples of using HTTP client for dotnet 8.0 - Blazor</h1>
<p>This is an ASP.NET Blazor Web Assembly application that executes clientside and can be deployed as a static web app that connects to a backend API</p>
<p>The WeatherForecast API can be found <a href="https://alwaysfunc.azurewebsites.net/api/getweather" target="_new">here</a></p>
<h3>Data / Model</h3>
<div><img src="/images/model.png" width="50%" /></div>

