@page "/scoped"
@using azureSamples.Models
@using azureSamples.Services
@* Injecting the Scoped client *@
@inject HttpClient Http

<h3>Scoped Client</h3>
<p>This client is automatically added to the project as BlazorApp.Client.</p>
<p>Perfect for making calls to a <u>single backend API</u> throughout your entire application.</p>
<TScoped />

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Temp. (C)</th>
                    <th>Temp. (F)</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forecast in forecasts)
                {
                    <tr>
                        <td>@forecast.Date.ToShortDateString()</td>
                        <td>@forecast.TemperatureC</td>
                        <td>@forecast.TemperatureF</td>
                        <td>@forecast.Summary</td>
                    </tr>
                }
            </tbody>
        </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("api/getweather");
    }
}
