@page "/search"
@using azureSamples.Services
@using azureSamples.Models
@inject SearchHttpClient Http

<div>Search:</div>
<div>
<select><option value="none" selected>Select Index</option>
        @foreach (azureSearchIndex index in theIndexes)
    {
            <option value="@index.Name">@index.Name</option>
    }
    </select>
</div>
@code {
    private azureSearchIndex[]? theIndexes;
    String errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            theIndexes = await Http.GetIndexesAsync();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}