@page "/ttyped"

<PageTitle>Counter</PageTitle>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
            role="tab" aria-controls="home" aria-selected="true">1. program.cs</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
            role="tab" aria-controls="profile" aria-selected="false">2. pages/Scoped.razor</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="about-tab" data-bs-toggle="tab" data-bs-target="#about" type="button"
            role="tab" aria-controls="about" aria-selected="false">3. services/services.cs</button>
    </li>
</ul>
&nbsp;
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
       <pre>
        <code>
            using 
            builder.Services.AddHttpClient&lt;ForecastHttpClient&gt;(client =&gt; 
            client.BaseAddress = new Uri(builder.HostEnvironment.BaseAddress));
        </code>
       </pre>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <pre>
            <code>
                &#64;inject 
                &#64;inject ForecastHttpClient <var>ClientFactory</var>
                ...
                <var>forecasts</var> = await Http.GetForecastAsync();
                var <var>Http</var> = ClientFactory.CreateClient("<kbd>YOUR_NAMED_CLIENT</kbd>");
                forecasts = await Http.GetFromJsonAsync&lt;WeatherForecast[]&gt;("api/getweather");
            </code>
        </pre>
    </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <pre>
            <code>
                using System.Net.Http.Json;
                using azureSamples.Models;

                namespace azureSamples.Services
                {
                    public class ForecastHttpClient(HttpClient http)
                    {
                        public async Task&lt;WeatherForecast[]&gt; GetForecastAsync()
                        {
                            return await http.GetFromJsonAsync&lt;WeatherForecast[]&gt;("api/getweather") ?? [];
                        }
                    }
                }
            </code>
        </pre>
    </div>

</div>




@code {
}
